<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GenerateEx</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>servlet.InfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/servlet/InfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>servlet.ExamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/servlet/ExamServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetScore</servlet-name>
        <servlet-class>servlet.GetScore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetScore</servlet-name>
        <url-pattern>/servlet/GetScore</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>DelNotice</servlet-name>
        <servlet-class>servlet.DelNotice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelNotice</servlet-name>
        <url-pattern>/servlet/DelNotice</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>SScoreQuery</servlet-name>
        <servlet-class>servlet.SScoreQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SScoreQuery</servlet-name>
        <url-pattern>/servlet/SScoreQuery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetScore</servlet-name>
        <servlet-class>servlet.SetScore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetScore</servlet-name>
        <url-pattern>/servlet/SetScore</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>DelExam</servlet-name>
        <servlet-class>servlet.DelExam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelExam</servlet-name>
        <url-pattern>/servlet/DelExam</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ManageQue</servlet-name>
        <servlet-class>servlet.ManageQue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageQue</servlet-name>
        <url-pattern>/servlet/ManageQue</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ManageStudent</servlet-name>
        <servlet-class>servlet.ManageStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageStudent</servlet-name>
        <url-pattern>/servlet/ManageStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetNotice</servlet-name>
        <servlet-class>servlet.SetNotice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetNotice</servlet-name>
        <url-pattern>/servlet/SetNotice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckScore</servlet-name>
        <servlet-class>servlet.CheckScore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckScore</servlet-name>
        <url-pattern>/servlet/CheckScore</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartExamServlet</servlet-name>
        <servlet-class>servlet.StartExamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartExamServlet</servlet-name>
        <url-pattern>/servlet/StartExamServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Submit</servlet-name>
        <servlet-class>servlet.Submit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Submit</servlet-name>
        <url-pattern>/servlet/Submit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageTeacher</servlet-name>
        <servlet-class>servlet.ManageTeacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageTeacher</servlet-name>
        <url-pattern>/servlet/ManageTeacher</url-pattern>
    </servlet-mapping>
     <listener>
     <listener-class>servlet.GetScore</listener-class>
     </listener>
    <session-config>
    	 <session-timeout>200</session-timeout>
    </session-config>
    <error-page>
       <error-code>500</error-code>
       <location>/session_time-out.jsp</location>
</error-page>
<error-page>
       <error-code>404</error-code>
       <location>/index.jsp</location>
</error-page>
</web-app>